

<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>
        
        <% var isAccepted = tip.accepted; %>
        <% var isAdmin = session.user && session.user.isAdmin; %>
        <% var isAuthor = session.user && quizAuthorId && quizAuthorId === session.user.id; %>

        <% if (isAccepted || isAdmin || isAuthor) { %>
        
            <li>
                <%= tip.text %>
                <span id="autor"><%= tip.Author.username %></span>
                
                <% if (!isAccepted && (isAdmin || isAuthor)) { %>
                    
                    <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT"><button>Aceptar</button></a>
                 
                 <% } %>
                           
                 <% if (isAdmin || isAuthor)  { %>

                    <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE"><button>Borrar</button></a>

                 <% } %>

           </li>
       <% } %>
    <% } %>
</ul>
